# Unnecessary files are to be placed here

assets\audio\Clarksville.mp3
assets\audio\DaydreamBeliever.mp3
assets\audio\ImABeliever.mp3
assets\audio\SteppingStone.mp3
assets\audio\tailtoddle_lo.mp3