<header class="event-bg">
    <div class="header-content">
        <div class="inner-events-container events-header">
            <table class="events">
<!--               <tr>
                <th>Date</th>
                <th></th>
                <th></th>
              </tr> -->
                <tr>
                <td>MAY<p>25</p>FRIDAY</td>
                <td>
                    The Monkees at Conrad Jupiters Casino<br>
                    <i>Gold Coast, Australia</i>
                </td>
                <!-- <td><a href="#!/events/1"><button class="venue-button">Venue</button></a></td> -->
              </tr>
              <tr>
                <td>JUNE<p>4</p>SUNDAY</td>
                <td>
                    The Monkees at Enmore Theatre<br>
                    <i>Sydney, Australia</i>
                </td>
                <!-- <td><a href="#!/events/2"><button class="venue-button">Venue</button></a></td> -->
              </tr>
              <tr>
                <td>JUNE<p>10</p>SUNDAY</td>
                <td>
                    The Monkees at Perth Concert Hall<br>
                    <i>Perth, Australia</i>
                </td>
                <!-- <td><a href="#!/events/3"><button class="venue-button">Venue</button></a></td> -->
              </tr>
              <tr>
                <td>JUNE<p>31</p>SATURDAY</td>
                <td>
                    The Monkees at Wrest Point Entertainment Centre<br>
                    <i>Hobart, Australia</i>
                </td>
                <!-- <td><a href="#!/events/4"><button class="venue-button">Venue</button></a></td> -->
              </tr>
            </table>
        </div>
    </div>
</header>