<header class="main-bg">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"> </h1>
            <!--                 <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
            <br><br><br><br><br><br><br><br><br><br>
            <a href="#!/music" class="btn btn-primary btn-xl page-scroll">Listen To Music</a>
            <a href="#!/video" class="btn btn-primary btn-xl page-scroll">Watch Videos</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Musician Bio</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/bio/dj.jpg" alt="David Thomas Jones">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Davy Jones</h3>
                            </div>
                            <div class="timeline-body">
                                <p>David Thomas Jones is an English singer-songwriter, musician, actor and businessman best known as a member of the band The Monkees, and for starring in the TV series of the same name.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/bio/md.jpg" alt="George Michael Dolenz, Jr.">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Micky Dolenz</h3>
                            </div>
                            <div class="timeline-body">
                                <p>George Michael Dolenz, Jr.  is an American actor, musician, television director, radio personality and a theater director, best known as a vocalist and drummer of the 1960s pop/rock band the Monkees.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/bio/mn.jpg" alt="Robert Michael Nesmith">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Michael Nesmith</h3>
                            </div>
                            <div class="timeline-body">
                                <p>Robert Michael Nesmith is an American musician, songwriter, actor, producer, novelist, businessman, and philanthropist, best known as a member of the pop rock band the Monkees and co-star of the TV series The Monkees (1966–1968).</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/bio/pt.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Peter Tork</h3>
                            </div>
                            <div class="timeline-body">
                                <p>Peter Tork is an American musician and actor, best known as the keyboardist and bass guitarist of the Monkees.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="bg-primary" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Gallery</h2>
            </div>
        </div>
    </div>
    <div class="gallery-container">
        <div class="image-container">
            <img src="assets/images/img1.jpg" class="gallery-image">
        </div>
        <div class="image-container">
            <img src="assets/images/img2.jpg"  class="gallery-image">
        </div>
        <div class="image-container">
            <img src="assets/images/img3.jpg" class="gallery-image">
        </div>
        <div class="image-container">
            <img src="assets/images/img5.jpg" class="gallery-image">
        </div>
        <div class="image-container">
            <img src="assets/images/img4.jpg" class="gallery-image">
        </div>
        <div class="image-container">
            <img src="assets/images/img6.jpg" class="gallery-image">
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Stay Connected with our mail list.</h2>
            <!-- <a id="popup" onclick="div_show()" class="btn btn-default btn-xl sr-button">Join</a> -->
            <button type="button" class="btn btn-default btn-xl sr-button" data-toggle="modal" data-target="#connectEmail">Join</button>
        </div>
    </div>
</aside>
