<header class="music-bg">
    <div class="header-content music-content"> <!--  music-header"> -->
        <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active" style="color:#fff">Sample 1</li>
                <li data-target="#myCarousel" data-slide-to="1" style="color:#fff">Sample 2</li>
                <li data-target="#myCarousel" data-slide-to="2" style="color:#fff">Sample 3</li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner col-sm-12">
                <div class="item active">
                    <div class="description col-sm-6">
                        <h1> Last Train to Clarksville </h1>
                        <h2> A Very Brady Sequel </h2>
						<a href="https://itunes.apple.com/us/album/last-train-to-clarksville/4512505?i=4512503&amp;uo=4" target="_blank"><h2>Buy Now</h2></a>
                    </div>
                    <div class="album-cover col-sm-6">
                        <div class="centered">
                            <a href="https://itunes.apple.com/us/album/last-train-to-clarksville/4512505?i=4512503&amp;uo=4" target="_blank" class="album-buy"><h2>Buy Now</h2></a>
                            <div class="speaker" for="player0"></div>
                            <img src="https://raw.githubusercontent.com/atarutina/CI-project1.github.io/gh-pages/img/music/album1.jpg" alt="Greatest hits 1" class="album-art">

                            <audio id="player0">
                                <source src="https://raw.githubusercontent.com/atarutina/CI-project1.github.io/gh-pages/assets/audio/ClarksvilleShort.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="description col-sm-6">
                        <h1> I'm a Believer </h1>
                        <h2> More of the Monkees </h2>
						<a href="https://itunes.apple.com/us/album/im-a-believer/4512505?i=4512481&amp;uo=4" target="_blank"><h2>Buy Now</h2></a>
                    </div>
                    <div class="album-cover col-sm-6">
                        <div class="centered">
                            <a href="https://itunes.apple.com/us/album/im-a-believer/4512505?i=4512481&amp;uo=4" target="_blank" class="album-buy"><h2>Buy Now</h2></a>
                            <div class="speaker" for="player1"></div>
                            <img src="https://raw.githubusercontent.com/atarutina/CI-project1.github.io/gh-pages/img/music/album2.jpg" alt="Greatest hits 2" class="album-art">
                            <audio id="player1">
                                <source src="https://raw.githubusercontent.com/atarutina/CI-project1.github.io/gh-pages/assets/audio/ImABelieverShort.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="description col-sm-6">
                        <h1> Daydream Beleaver </h1>
                        <h2> The Birds, The Bees & The Monkees </h2>
						<a href="https://itunes.apple.com/us/album/daydream-believer/4512505?i=4512412&amp;uo=4" target="_blank"><h2>Buy Now</h2></a>
                    </div>
                    <div class="album-cover col-sm-6">
                        <div class="centered">
                            <a href="https://itunes.apple.com/us/album/daydream-believer/4512505?i=4512412&amp;uo=4" target="_blank" class="album-buy centered"><h2>Buy Now</h2></a>
                            <div class="speaker centered" for="player2"></div>
                            <img src="https://raw.githubusercontent.com/atarutina/CI-project1.github.io/gh-pages/img/music/album3.jpg" alt="Greatest hits 1" class="album-art">
                            <audio id="player2">
                                <source src="https://raw.githubusercontent.com/atarutina/CI-project1.github.io/gh-pages/assets/audio/DaydreamBelieverShort.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
<!--             <a class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a> -->
        </div>
    </div>
</header>
