<!-- Maybe another header? -->
<header style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/about.jpg'); background-blend-mode: screen;">
    <div class="header-content">
        <div class="header-content-inner about-header">
            <div class="thankYouHeader">
                <h1>Thank you!</h1>
                <!--                 <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
                <br><br><br><br>
                <h2>{{ title }}</h3>
                <h4>Keep an eye on our upcoming events and news.</h4>
                <h4>Meanwhile enjoy our <a href="#!/music"><b>music</b></a> or <a href="#!/"><b>return to the main page</b></a>.</h4>
            </div>
            <br><br><br><br><br><br>
            <!-- <a href="#!/" class="btn btn-primary btn-xl page-scroll">Return to the main page</a> -->
            <a href="#!/video" class="btn btn-primary btn-xl page-scroll">Watch our Video</a>
            <!-- <a href="#videos" class="btn btn-primary btn-xl page-scroll">Watch Videos</a> -->
        </div>
    </div>
</header>